{% extends 'base.html.twig' %}

{% block title %}Nouvelle reservation{% endblock %}

{% block body %}
    <div class="container">
    <h1>Nouvelle réservation</h1>

    {{ include('booking/_form.html.twig') }}

    <a href="{{ path('app_booking_index') }}" class="btn btn-secondary my-2">< Retour à la liste </a>
    </div>
{% endblock %}
