{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nouveau article</h1>

        {{ include('article/_form.html.twig') }}

        <a href="{{ path('app_article_index') }}" class="btn btn-secondary">< Retour à la liste</a>
    </div>
{% endblock %}
