<form method="post" action="{{ path('app_massage_delete', {'id': massage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ massage.id) }}">
    <button class="btn">Delete</button>
</form>
