{% extends 'base.html.twig' %}

{% block title %}Modifier service{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier service</h1>

        {{ include('massage/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_massage_index') }}" class="btn btn-secondary">Retour à la liste</a>

        {{ include('massage/_delete_form.html.twig') }}
    </div>
{% endblock %}
