{% extends 'base.html.twig' %}

{% block title %} Réserver vos soins {% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/meeting.css')}}">{% endblock %}

{% block body %}

    <!-- HEADER RDV -->
    <header id="meetingHeader">

        <!-- Container texte -->
        <div id="meetingContainer">
            <h2 class="title meetingTitle">Prenez rendez-vous en ligne.</h2>
            <p>Est dignissimos aspernatur aut velit perspiciatis sit velit ratione ut explicabo vero ab atque velit quo
                ipsam repudiandae.</p>
        </div>

    </header>


    <!-- PRISE RDV -->
    <section id="meeting">

        <!-- Titre -->
        <h3 class="titleThree">Retrouvez les dates disponibles pour votre soin</h3>

    </section>

{% endblock %}