{% extends 'base.html.twig' %}

{% block title %} Réserver vos soins {% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{asset('assets/css/meeting.css')}}">{% endblock %}

{% block body %}

    <!-- HEADER RDV -->
    <header id="meetingHeader">

        <!-- Container texte -->
        <div id="meetingContainer">
            <h2 class="title meetingTitle">Prenez rendez-vous en ligne.</h2>
            <p>Est dignissimos aspernatur aut velit perspiciatis sit velit ratione ut explicabo vero ab atque velit quo
                ipsam repudiandae.</p>
        </div>

    </header>

    <!-- EXPLICATION RDV -->
    <section id="meetingExplain">

        <!-- Titre -->
        <h3 class="titleThree">Quelques recommandations pour le bon déroulement de votre rendez-vous...</h3>

        <!-- Texte explication rdv -->
        <div id="meetingText">
            <p class="paragraphType">Est dignissimos aspernatur aut velit perspiciatis sit velit ratione ut explicabo vero
                ab atque velit quo
                ipsam repudiandae. Est dignissimos aspernatur aut velit perspiciatis sit velit ratione ut explicabo vero ab
                atque velit quo ipsam repudiandae.</p>
            <img src="{{asset('assets/img/illustration/womanBack.svg')}}" alt="illustration en ligne d'une femme de dos nu">
            <p class="paragraphType">Est dignissimos aspernatur aut velit perspiciatis sit velit ratione ut explicabo vero
                ab atque velit quo
                ipsam repudiandae. Est dignissimos aspernatur aut velit perspiciatis sit velit ratione ut explicabo vero ab
                atque velit quo ipsam repudiandae.</p>
        </div>

    </section>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Some placeholder content in a paragraph.</p>
    <small>And some small print.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Some placeholder content in a paragraph.</p>
    <small class="text-muted">And some muted small print.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Some placeholder content in a paragraph.</p>
    <small class="text-muted">And some muted small print.</small>
  </a>
</div>

    <!-- PRISE RDV -->
    <section id="meeting">

        <!-- Titre -->
        <h3 class="titleThree">Retrouvez les dates disponibles pour votre soin</h3>

    </section>

{% endblock %}